* {
    
    margin: 0px;
}
body {
    font-family:'Poppins', sans-serif;
    width: 1285px;
    background-color: #9DBEBB;
}

/* HEADER -------------------------------------------------*/
header {
    height: 150px;
    width: 105%;
    display: grid;
    grid-template-columns: 2% 25% 1% 71%;
    grid-template-rows: 20% 67% 13%;
    background: linear-gradient(#bdd9fd, transparent); 
}

#MendoApart {
    width: 330px;
    height: 90px;
    float: left;
    background-color: transparent;
    grid-column: 2;
    grid-row: 2;
}
img.marca {
    padding: 2%;
    width: 300px;
}
img.marca:hover {
    filter: opacity(.5);
	transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
	transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
}
#botonera {
   width: 900px;
   height: 95px;
   align-items: center;
   grid-row: 2;
   grid-column: 4;
}
ul.botonera_horizontal {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
ul.botonera_horizontal li{
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    text-align: center;
    color: white;
    padding: 1%;
}
ul.botonera_horizontal li a{
    display: inline-block;
    text-decoration: none;
    letter-spacing: 5px;
    width: 270px;
	height: 50px;
    font-size: 13px;
    font-weight: 300;
    background-color: #031926;
    line-height: 50px;
    color: white;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
ul.botonera_horizontal li a:hover {
    background-color:#468189 ;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    
}
/* SECTION -------------------------------------------------*/
section {
    width: 101%;
    height: 900px;
    color: white;
}
.texto {
    width: 104%;
    background-color: #468189;
    display: grid;
    grid-template-columns: 26% 50% 25%;
    grid-template-rows: 100%;

}
.texto:hover {
    background-color:rgb(52, 98, 104);
    transition: all .6s;
}
h1 {
    text-align: center;
    padding: 2%;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    grid-column: 2;
}
.depto {
    height: 550px;
    display: grid;
    grid-template-columns: 5% 45% 4% 45% 5%;
    grid-template-rows: 15% 71%;
}
.depto img{
    width: 100%;
    margin-top: 0px;
    float: right;
    /*border: white solid 2px;*/
    background-color: white;
    -moz-box-shadow: 0px -2px 57px #303030;
    -webkit-box-shadow: 0px -2px 57px #303030;
    box-shadow: 0px -2px 57px #303030
}
.depto img:hover {
	transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
	transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
}
.foto1 {
    grid-column: 2;
    grid-row: 2;
}
.foto2 {
    grid-column: 4;
    grid-row: 2;
}
.texto2 {
    width: 104%;
    height: 200px;
    background-color: #468189;
    display: grid;
    grid-template-columns: 5% 50% 8% 55%;
    grid-template-rows: 100%;
}
.texto2:hover {
    background-color:rgb(52, 98, 104);
    transition: all .6s;
}
h2 {
    text-align: left;
    padding: 3%;
    font-size: 17px;
    font-weight: 200;
    line-height: 23px;
    grid-column: 2;
}
.ciudad {
    width:370px;
    padding: 3%;
    grid-column: 4;
}
.ciudad:hover {
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
	transform: rotate(0deg) scale(2) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.5) skew(0deg) translate(0px);
}


/* FOOTER -------------------------------------------------*/
footer {
    position: relative;
    height: 200px;
    background-color: #031926;
    width: 105%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 20% 63% 20%;
}
ul.contacto li {
    list-style-type: none;
    font-weight: 200;
    margin-top: 7px;
}
    
ul.contacto li a {
    text-decoration: none;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
}

ul.contacto li a:hover {
    filter: opacity(.5);
	transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
	transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
    -webkit-transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
}
#datos {
    color: white;
    margin-top: 0px;
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.marca2 {
    width: 180px;
    grid-row: 2;
    grid-column: 3;
}
.marca2:hover {
    filter: opacity(.5);
    -webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
    -webkit-transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
	transform: rotate(0deg) scale(1.04) skew(0deg) translate(0px);
    
}



/*------------------------------------------MEDIA TABLET---------------------------------------------*/
@media only screen and (max-width:800px) {
    
    body {
        font-family:'Poppins', sans-serif;
        width: 800px;
        background-color: #9DBEBB;
    }
    
    /* HEADER -------------------------------------------------*/
    header {
        height:300px;
        width: 96%;
        display: grid;
        grid-template-columns: 2% 96% 2%;
        grid-template-rows: 2% 67% 30%;
    }
    
    #MendoApart {
        width: 730px;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-around
    }
    img.marca {
        padding: 1%;
        width: 500px;
    }
    #botonera {
       width: 739px;
       height: 95px;
       align-items: center;
       grid-row: 3;
       grid-column: 2;
    }
    ul.botonera_horizontal {
        display: flex;
        justify-content: space-between;
        padding: 2%;
    }
    ul.botonera_horizontal li{
        padding: 0px;
        text-align: center;
        color: white;
        padding: 1%;
    }
    ul.botonera_horizontal li a{
        display: inline-block;
        text-decoration: none;
        letter-spacing: 5px;
        width: 220px;
        height: 50px;
        font-size: 17px;
        line-height: 50px;
    }
    
    /* SECTION -------------------------------------------------*/
section {
    width: 96%;
    height: 1900px;
    color: white;
}
.texto {
    width: 104%;
    display: grid;
    grid-template-columns: 11% 75% 10%;
    grid-template-rows: 100%;
}
h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 31px;
    grid-column: 2;
}
.depto {
    height: 1000px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 6% 41% 5% 41%;
}

.foto1 {
    grid-column: 2;
    grid-row: 2;
}
.foto2 {
    grid-column: 2;
    grid-row: 4;
}
.texto2 {
    width: 100%;
    height: 700px;
    background-color: #468189;
    display: grid;
    grid-template-columns: 2% 97% 3%;
    grid-template-rows: 2% 40% 33%;
}

h2 {
    text-align: left;
    padding: 4%;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    grid-column: 2;
    grid-row: 2;
}
.ciudad {
    width: 700px;
    padding: 3%;
    grid-column: 2;
    grid-row: 3;
}

/* FOOTER -------------------------------------------------*/
footer {
    position: relative;
    height: 200px;
    background-color: #031926;
    width: 96%;
    display: grid;
    grid-template-columns: 7% 40% 15% 35%;
    grid-template-rows: 10% 73% 20%;
}
ul.contacto li {
    list-style-type: none;
    font-weight: 200;
    margin-top: 7px;
}
    
ul.contacto li a {
    text-decoration: none;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
#datos {
    color: white;
    margin-top: 0px;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.marca2 {
    width: 200px;
    grid-row: 2;
    grid-column: 4;
}


} /*cierre de media para tablet*/


/*------------------------------------------MEDIA CELULAR---------------------------------------------*/
@media only screen and (max-width:600px) {
    body {
        font-family:'Poppins', sans-serif;
        width: 650px;
        background-color: #9DBEBB;
    }
    
    /* HEADER -------------------------------------------------*/
    header {
        height:300px;
        width: 100%;
        display: grid;
        grid-template-columns: 2% 93% 2%;
        grid-template-rows: 2% 67% 20%;
    }
    
    #MendoApart {
        width: 550px;
        height: 200px;
        grid-column: 2;
        grid-row: 2;
        display: flex;
        justify-content: space-around
    }
    img.marca {
        padding: 1%;
        width: 500px;
    }
    #botonera {
       width: 546px;
       height: 62px;
       align-items: center;
       grid-row: 3;
       grid-column: 2;
    }
    ul.botonera_horizontal {
        display: flex;
        justify-content: space-between;
        padding: 1%;
    }
    ul.botonera_horizontal li{
        text-align: center;
        color: white;
        padding: 0%;
    }
    ul.botonera_horizontal li a{
        display: inline-block;
        text-decoration: none;
        letter-spacing: 5px;
        width: 170px;
        height: 50px;
        font-size: 15px;
        line-height: 50px;
    }
    
    /* SECTION -------------------------------------------------*/
section {
    width: 90%;
    height: 1700px;
    color: white;
}
.texto {
    width: 112%;
    display: grid;
    grid-template-columns: 9% 70% 10%;
    grid-template-rows: 100%;
}
h1 {
    font-size: 22px;
    font-weight: 300;
    line-height: 31px;
    grid-column: 2;
}
.depto {
    height: 800px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 6% 40% 5% 40%;
}

.foto1 {
    grid-column: 2;
    grid-row: 2;
}
.foto2 {
    grid-column: 2;
    grid-row: 4;
}
.texto2 {
    width: 112%;
    height: 700px;
    background-color: #468189;
    display: grid;
    grid-template-columns: 2% 86% 3%;
    grid-template-rows: 2% 55% 33%;
}

h2 {
    text-align: left;
    padding: 4%;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
    grid-column: 2;
    grid-row: 2;
}
.ciudad {
    width: 500px;
    padding: 3%;
    grid-column: 2;
    grid-row: 3;
}

/* FOOTER -------------------------------------------------*/
footer {
    position: relative;
    height: 200px;
    background-color: #031926;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 40% 6% 35%;
    grid-template-rows: 10% 73% 20%;
}
ul.contacto li {
    list-style-type: none;
    font-weight: 200;
    margin-top: 7px;
}
    
ul.contacto li a {
    text-decoration: none;
    color: white;
    padding: 2%;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
}
#datos {
    color: white;
    margin-top: 0px;
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.marca2 {
    width: 200px;
    grid-row: 2;
    grid-column: 4;
}

   
} /*cierre de media para celular*/
